<!-- @using (Html.BeginForm("TransactionList", "Home", FormMethod.Post, new { @id = "TransactionList" }))
{ -->
  <table mat-table #table [dataSource]="dataSource" class="table">
	<div class="container-fluid">
		<h4>View Transaction Listing</h4>
		<div class="row">
			<div class="col-sm-2">
				<label class="control-label">Select Person:</label>
        <select [dataSource]="dataSource" id="person" style="width: 100%;">
          <option ng-repeat="person in persons" value="{{person}}">{{person}}</option>
        </select>
      </div>
			<div class="col-sm-2">
				<label class="control-label">Begin Date:</label>
				<input type="text" class="form-control dateFormat" name="firstDay" style="width: 110px;" value="@((string)ViewBag.firstDay)" />
			</div>
			<div class="col-sm-2">
				<label class="control-label">End Date:</label>
				<input type="text" class="form-control" name="lastDay" style="width: 110px;" value="@((string)ViewBag.lastDay)" />
			</div>
			<div class="col-sm-2">
				<label for="Category"></label>
				<input type="submit" value="View Transaction Listing" class="btn btn-default btn-md" style="background-color: #EEEEEE;" />
			</div>
		</div>
  </div>
</table>
<!-- } -->
