<div class="button-row">
  <a [routerLink]="['/accounts']" queryParamsHandling="preserve">Account List</a>
</div>
<form [formGroup]="accountForm" (ngSubmit)="onFormSubmit(accountForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="AccountNumber" formControlName="AccountNumber">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="AccountName" formControlName="AccountName" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!accountForm.get('AccountName').valid && accountForm.get('AccountName').touched">Please enter Account Name</span>
    </mat-error>
  </mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="TaxFormRef" formControlName="TaxFormRef"
         [errorStateMatcher]="matcher">
  <mat-error>
    <span *ngIf="!accountForm.get('TaxFormRef').valid && accountForm.get('TaxFormRef').touched">Please enter TaxFormRef</span>
  </mat-error>
</mat-form-field>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Active" formControlName="Active"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!accountForm.get('Active').valid && accountForm.get('Active').touched">Please enter Active</span>
    </mat-error>
</mat-form-field>
<mat-form-field class="example-full-width">
      <mat-select placeholder="AccountPersonName" formControlName="AccountPerson.AccountPersonName">
          <mat-option value="Allen">Allen</mat-option>
          <mat-option value="Mark">Mark</mat-option>
          <mat-option value="Mike">Mike</mat-option>
      </mat-select>
</mat-form-field>
<mat-form-field class="example-full-width">
    <input matInput placeholder="AccountSubType" formControlName="AccountSubType.AccountSubTypeName"
            [errorStateMatcher]="matcher"> 
     <!-- <mat-error>
      <span *ngIf="!accountForm.get(AccountSubTypeName).valid && accountForm.get(AccountSubTypeName).touched">Please enter AccountSubType</span>
    </mat-error>  -->
</mat-form-field> 
<mat-form-field class="example-full-width">
    <input matInput placeholder="Sort Order"  formControlName="AccountSubType.SortOrder">
           <!-- [errorStateMatcher]="matcher"> -->
<!--     <mat-error>
      <span *ngIf="!accountForm.get(SortOrder).valid && accountForm.get(SortOrder).touched">Please enter SortOrder</span>
    </mat-error> -->
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-select placeholder="Account Type" formControlName="AccountSubType.AccountType.AccountTypeName">
    <mat-option value="Expenses">Expenses</mat-option>
    <mat-option value="Revenue">Revenue</mat-option>
    </mat-select>
</mat-form-field> 

<div class="button-row">
     <button type="submit" [disabled]="!accountForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>  </div>
</form>

