<div class="button-row">
  <a [routerLink]="['/account-create']" queryParamsHandling="merge">Create </a>
</div>
<table mat-table #table [dataSource]="accountdataSource" class="table">
  <ng-container matColumnDef="AccountNumber">
    <th mat-header-cell *matHeaderCellDef> AcctNum </th>
    <td mat-cell *matCellDef="let element"> {{element.AccountNumber}} </td>
  </ng-container>
  <ng-container matColumnDef="AccountName">
    <th mat-header-cell *matHeaderCellDef> AcctName </th>
    <td mat-cell *matCellDef="let element"> {{element.AccountName}} </td>
  </ng-container>
  <ng-container matColumnDef="TaxFormRef">
    <th mat-header-cell *matHeaderCellDef> TaxFormRef</th>
    <td mat-cell *matCellDef="let element"> {{element.TaxFormRef}} </td>
  </ng-container>
  <ng-container matColumnDef="Active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let element"> {{element.Active}} </td>
  </ng-container>
  <ng-container matColumnDef="AccountPerson.AccountPersonName">
    <th mat-header-cell *matHeaderCellDef>Person</th>
    <td mat-cell *matCellDef="let element"> {{element.AccountPerson.AccountPersonName}} </td>
  </ng-container>
  <ng-container matColumnDef="AccountSubType.AccountSubTypeName">
    <th mat-header-cell *matHeaderCellDef>AcctSubType</th>
    <td mat-cell *matCellDef="let element"> {{element.AccountSubType.AccountSubTypeName}} </td>
  </ng-container>
  <ng-container matColumnDef="AccountSubType.SortOrder">
    <th mat-header-cell *matHeaderCellDef>SortOrder</th>
    <td mat-cell *matCellDef="let element"> {{element.AccountSubType.SortOrder}} </td>
  </ng-container>
  <ng-container matColumnDef="AccountSubType.AccountType.AccountTypeName">
    <th mat-header-cell *matHeaderCellDef>AccountType</th>
    <td mat-cell *matCellDef="let element"> {{element.AccountSubType.AccountType.AccountTypeName}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/account-details/', row._id]" queryParamsHandling="merge"></tr>
</table>
